@import '../../sass/mixins/mixins'

.mainContainer
  font-family: 'Montserrat', sans-serif
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  .paymentContainer
    display: flex
    flex-direction: column
    justify-content: center
    min-height: 450px
    max-height: 600px
    width: 600px
    background-color: #F4F6F6
    border: 1px solid #ccd3d3
    padding: 25px 15px
    @include for-tablet-portrait
      width: 100%

    .inputRowContainer
      display: flex
      flex-direction: row
      justify-content: space-between

      .inputRow
        width: 45%

