
.authHeaderContainer
  display: flex
  justify-content: flex-end
  align-content: center
  align-items: center
  height: 100%

  .authHeaderGreeting
    display: flex
    justify-content: center
    align-content: center
    align-items: center
    color: #718888
    font-size: 13.5px
    padding-right: 15px
    & > span
      padding-left: 10px

    .authHeaderImage
      width: 20px
      height: 20px
      border-radius: 50%
      line-height: 40px

    .userHi
      color: #718888
      font-size: 13.5px

  .authHeaderEmail
    padding-left: 10px
    color: #718888

