@import '../../sass/mixins/mixins'

.mainContainer
  display: flex
  flex-direction: column
  overflow: auto
  background-color: #F8F8F8

  .stepsContainer
    background-color: white

  .formContainer
    width: 66%
    padding-left: 10%
    padding-top: 40px
    @include for-tablet-portrait
      width: 100%
      padding: 40px 10px 0 10px

    .inputs
      & > div
        margin-bottom: 30px

  .submitContainer
    display: flex
    justify-content: flex-end
    width: 100%
    background: white
    padding: 50px 50px
    @include for-phone-only
      flex-direction: column
      padding: 10px 10px