
.container
  display: flex
  justify-content: space-between
  align-items: center

  .resetButton
    background: #888
    font-size: 15px
    height: 50px
    width: 140px
    padding: 15px 45px
    color: #fff
    font-weight: 700
    text-transform: uppercase
    text-align: center
    cursor: pointer

  .submitButton
    background: #f3875d
    width: 275px
    height: 60px
    border-radius: 10px
    font-size: 19px
    margin-left: 15px
    padding: 15px 45px
    color: #fff
    font-weight: 700
    text-transform: uppercase
    text-align: center
    cursor: pointer