
.contestContainer
  font-family: 'Montserrat', sans-serif
  background: #f9fafb
  display: flex
  width: 100%
  padding: 30px 20px 10px 20px

  .contestDescriptionContainer
    display: flex
    flex-direction: column
    width: 75%

    .contestHeader
      color: #556da5
      font-size: 18px
      font-weight: 500

    .contestName
      color: #556da5
      font-size: 12px
      padding-top: 30px

    .contestText
      padding-top: 30px
      color: #333
      font-size: 14px

    .footer
      display: flex
      padding: 10px 0
      justify-content: flex-start
      align-items: center
      align-content: center
      color: #556da5

      .prize
        display: flex
        justify-content: flex-start
        align-items: center
        align-content: center
        width: 100px

      .active
        display: flex
        justify-content: flex-start
        align-items: center
        align-content: center
        color: #333


